#viewercontainer2 {height:400px; width:100%; }
#demoControls {width:200px; border: solid black;}

 #demoControlBox {width:300px; height:400px; position:absolute; top:60px; left:75%; z-index:2; 		 }	
 #viewer2 {position:relative; z-index:1;}
