		 /*  IDs */ 
		 
		 #controlBox {width:300px; height:400px; position:absolute; top:60px; left:75%; z-index:2; 

			/* http://www.colorzilla.com/gradient-editor/ */ 

		 }	
		 
		 
		 
		 
		  */
		 #clear {margin-left:10px; padding-left:10px;}

		  
		 #histogram {width:200px; height: 200px;} 
		  
		 #infoBox {width:170px; height:300px; border-style:solid; border-width:5px; margin-right:20px; position:fixed; left:280px;}
		  
		 #maker, #MCContainer, #supercellContainer {margin-left:20px;} 
		  
		 #makeIconDown, #MCIconDown, #spIconDown {display:none;}
		  
		  
		  
	/*	 #makeButton, #learnMore, #showMCButton {margin-left:100px;} */
		 #mofFail {display:none;}
		 
		 
		 ul {list-style-type:none}
		 
		 .pageTitle {text-align:center;}
		 
		 #probeCount, #probeSize {width:50px;}
		
		 #viewercontainer, #viewercontainer2 {height:400px;}
		 
		 #viewer {position:relative; z-index:1;}
		
		/*  Classes */
		
		.border {
		border:2px solid #0B85A1;
		}
		
		.btn {
  background: #aec8d9;
  background-image: -webkit-linear-gradient(top, #aec8d9, #d2d8db);
  background-image: -moz-linear-gradient(top, #aec8d9, #d2d8db);
  background-image: -ms-linear-gradient(top, #aec8d9, #d2d8db);
  background-image: -o-linear-gradient(top, #aec8d9, #d2d8db);
  background-image: linear-gradient(to bottom, #aec8d9, #d2d8db);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #616161;
  font-size: 10px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

#mofPage {
display:none;
}
#demoPage {
display:none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
		
		 .controlButton {position:relative; z-index:2;}
		
		/* #maker {margin-top:20px; width:300px; height:300px; border-style:solid; border-width:2px; position:fixed; background-color:blue; background: rgba(73,155,234,1);
background: -moz-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,0.61) 50%, rgba(32,124,229,0.21) 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(73,155,234,1)), color-stop(50%, rgba(32,124,229,0.61)), color-stop(100%, rgba(32,124,229,0.21)));
background: -webkit-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,0.61) 50%, rgba(32,124,229,0.21) 100%);
background: -o-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,0.61) 50%, rgba(32,124,229,0.21) 100%);
background: -ms-radial-gradient(center, ellipse cover, rgba(73,155,234,1) 0%, rgba(32,124,229,0.61) 50%, rgba(32,124,229,0.21) 100%);
background: radial-gradient(ellipse at center, rgba(73,155,234,1) 0%, rgba(32,124,229,0.61) 50%, rgba(32,124,229,0.21) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=1 ); right:1%; z-index:2;} */
		 
		 .controlDiv {padding-left:10px;}
		 
		 .makeIcon, .MCIcon, .spIcon {height:12px; width:auto; margin-left:3px; }
		 
		 .selected {border-style:solid; border-width:2px; border-color:blue;}


		 img {width:50px; height:auto;}

		
		 /*  http://css3buttongenerator.com/  */


