/* GLOBAL */ 
html, body {
    margin: 0;
    height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('./Images/gradBlue2.png');
}
span, p {
font-size:9pt;
}

p {font-family: 'Source Sans Pro', sans-serif;}
#mainPage p {padding-left:10px;} 


		 
ul {list-style-type:none}

h3 {padding-bottom:5px; padding-top:5px;}
				
		 /*  IDs */ 
		 
		 #accordion1, #accordion2 {zoom: 1; filter: alpha(opacity=90); opacity: 0.9;}
		 
		 #addmePSD {display:none; padding-left:10px; padding-right:3px;}
		 
		 #addmeVF, #addmeSA {padding-left:3px; padding-right:3px; font-size: 9pt;}	
		 
		 #bar {width:100%; height:0px; border-style:solid; border-width:2px; margin-top:40px; color:#C6C7CB; }
		 
		 #channelButtons {display:none;}
	     
	     #channelLoaderGIF {display: none; margin-left:10px;}
	     
		 #clearButton {display:none; position:relative; left:80%;}
		 
		 #clearMaker {margin-left:10px;}
		
		 #closePopup, #closeLMPopup {padding-left:10px; margin-top:30px; text-decoration: underline; font-weight:bold;} 
		 
		 #acknowledgements {position:absolute; bottom:1%; color:#C6C7CB;}
		 
		 #appLinks {padding-bottom:100px; padding-top:15px;}
		 

		 #histogramContainer {position:absolute; right:30%; z-index:5; display:none; width:40%; height:60%; top:12%; background-color:#CCCCFF; border-radius:8px; opacity:0.9;} 
		 #histogram {position:absolute; left:5%; top:20px; z-index:5; display:none; width:90%; height:93%; top:20px; background-color:#CCCCFF; opacity:0.9;} 

		 #displayTitle {padding-left:30%;}
		 
		 #howTitle {text-decoration:underline; padding-top:15px; color: #C6C7CB;} 
		 #howDoesItWork {position:absolute; width:98%; padding-left:1%;} 
		 
		 #inTextCode {color:#4C4C4C;}
		 
		 #outputPanel {display: inline-block; width:220px; right:1%; z-index:2; margin-top:10px; background-color: #0A222B; opacity:0.8; border-radius:5px; color: #C6C7CB;}		
		 #leftPanel {display:inline-block; width:220px; position:absolute; top:60px; left:1%; margin-top:20px; z-index:2; background-color: #0A222B; opacity:0.8; border-radius:5px;}		
		 #selectBox {display:inline-block; width:220px; position:absolute; top:60px; left:1%; margin-top:20px; z-index:2; background-color: #0A222B; opacity:0.8; border-radius:5px; color: #C6C7CB;}		
		 #rightPanel {display:inline-block; width:220px; position:absolute; top:60px; right:1%; z-index:2;}		
		 #physicalPropsPanel {display: inline-block; right:1%; width:220px; margin-top:20px; z-index:2; background-color: #0A222B; opacity:0.8; border-radius:5px;}		
		 
		 #learnMorePopup {position:absolute; right:60%; z-index:5; display:none; top:22%; background-color:#CCCCFF; border-radius:8px; opacity:0.9;} 
		 #learnMoreContent {padding:10px 10px 10px 10px;}
		 
		 
		 #loaderGIF {display:none; padding-left:30px;}
		 
		 #maker, #MCContainer, #supercellContainer {margin-left:20px;} 
		  
		 #makeIconDown, #MCIconDown, #spIconDown {display:none;}
		 
		 #makeMOF {position:absolute; left:72%;}  
		 
		 #mcDemo {position:absolute; left:40%; }
		 
		 #mofFail {display:none;}
		 
		 #mofPageLink {position: absolute; left:8%;}
		 
		 #outputPanel {padding-bottom:10px;}
		 		 
		 #physicalPropertiesTitle, #outputTitle {padding-left:10px; padding-right:10px; text-decoration:underline;}
		 
		
		 #psdGraphLink, #psdDataLink {margin-right:15px; margin-left:5px; padding-bottom:10px; text-decoration:underline; font-size:1.2em; color:#ffffff}
		 
		 #siteDescription {padding-right:6%; padding-left:2%; padding-top:30px; margin-top:20px; color: #C6C7CB;}
		 
		 #unitcellInfo {position:absolute; z-index:2; top:90px; left:260px; width:150px; color: #35B9DA;}
		 
		 #uploadBox {height:180px; width:180px; border: 3px dotted #B2E0FF;}
		 
		
		
		/*  Classes */
		
		.accordion {width:100%;}
		
		.accTitle {padding-left:10px; color: #D5D5D5;}
		
.indexBtn {
  background: #2b3a8c;
  background-image: -webkit-linear-gradient(top, #2b3a8c, #031c2b);
  background-image: -moz-linear-gradient(top, #2b3a8c, #031c2b);
  background-image: -ms-linear-gradient(top, #2b3a8c, #031c2b);
  background-image: -o-linear-gradient(top, #2b3a8c, #031c2b);
  background-image: linear-gradient(to bottom, #2b3a8c, #031c2b);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Courier New;
  color: #ffffff;
  font-size: 30px;
  padding: 12px 22px 12px 22px;
  text-decoration: none;
}

.indexBtn:hover {
  background: #255f80;
  text-decoration: none;
}		
		
		
.btn {
  background: #aec8d9;
  background-image: -webkit-linear-gradient(top, #aec8d9, #d2d8db);
  background-image: -moz-linear-gradient(top, #aec8d9, #d2d8db);
  background-image: -ms-linear-gradient(top, #aec8d9, #d2d8db);
  background-image: -o-linear-gradient(top, #aec8d9, #d2d8db);
  background-image: linear-gradient(to bottom, #aec8d9, #d2d8db);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #616161;
  font-size: 10px;
  padding: 7px 15px 7px 15px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
/* Generated via www.cssmenubuilder.com */
.menu{margin:0 auto; padding:0; height:30px; width:100%; display:block; background:url('./Images/topMenuImages.png') repeat-x; opacity:0.8; width:99%;}
.menu li{padding:0; margin:0; list-style:none; display:inline;}
.menu li a{float:left; padding-left:15px; display:block; color:rgb(255,255,255); text-decoration:none; font:12px Verdana, Arial, Helvetica, sans-serif; cursor:pointer; background:url('./Images/topMenuImages.png') 0px -30px no-repeat;}
.menu li a span{line-height:30px; float:left; display:block; padding-right:15px; background:url('./Images/topMenuImages.png') 100% -30px no-repeat;}
.menu li a:hover{background-position:0px -60px; color:rgb(255,255,255);}
.menu li a:hover span{background-position:100% -60px;}
.menu li a.active, .menu li a.active:hover{line-height:30px; font:12px Verdana, Arial, Helvetica, sans-serif; background:url('./Images/topMenuImages.png') 0px -90px no-repeat; color:rgb(255,255,255);}
.menu li a.active span, .menu li a.active:hover span{background:url('./Images/topMenuImages.png') 100% -90px no-repeat;}


	.buildBlock {width:70px; height:auto;}
    
    .channelInput {width:50px;}
    
    .codeContainer {display:inline-block; padding: 15px 15px 15px 15px; background:#D5D5D5; margin-left:20px; margin-right:10px;}
    
	.controlButton {position:relative; z-index:2;}

	.controlDiv {padding-left:10px;}
	
	.displayParameter {padding-left:12px; padding-top:15px; padding-top:10px; text-decoration:underline;}	 
		 
	.makeIcon, .MCIcon, .spIcon {height:12px; width:auto; margin-left:3px; }
		 
	.makerTitle {text-decoration:underline;}	 
	

	.meter {display: none;} /* progress bar container */ 

	
	.navImage {height:100px; width:auto}
	
	.pageTitle { text-align:center; color: #C6C7CB; position:absolute; width:98%; margin-left: 1%; padding-bottom:10px; top:5px; font-size:2em; z-index:2; background-color: #0A222B; opacity:0.8; border-radius:5px; }
	.pageTile b {text-align:center;  z-index:2;}
		 
	.pbcExplain, .vfExplain, .saExplain, .psdExplain {margin-left:20px;}
	
	.pbcImage, .vfImage, .saImage, .psdImage {width:50%; height:auto;}	 
		 
	.probeCount, .probeSize {width:50px;}
		 
	.selected {border-style:solid; border-width:2px; border-color:blue;}




/* Progress bar */ 

.meter { 
			height: 10px;  /* Can be anything */
			position: relative;
			margin: 5px 5px 5px 5px; /* Just for demo spacing */
			background: #555;
			-moz-border-radius: 25px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			padding: 5px;
			-webkit-box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
			-moz-box-shadow   : inset 0 -1px 1px rgba(255,255,255,0.3);
			box-shadow        : inset 0 -1px 1px rgba(255,255,255,0.3);
		}
		.meter > span {
			display: block;
			height: 100%;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			background-color: rgb(43,194,83);
			background-image: -webkit-gradient(
			  linear,
			  left bottom,
			  left top,
			  color-stop(0, rgb(43,194,83)),
			  color-stop(1, rgb(84,240,84))
			 );
			background-image: -moz-linear-gradient(
			  center bottom,
			  rgb(43,194,83) 37%,
			  rgb(84,240,84) 69%
			 );
			-webkit-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			-moz-box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			box-shadow: 
			  inset 0 2px 9px  rgba(255,255,255,0.3),
			  inset 0 -2px 6px rgba(0,0,0,0.4);
			position: relative;
			overflow: hidden;
		}
		.meter > span:after, .animate > span > span {
			content: "";
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;
			background-image: 
			   -webkit-gradient(linear, 0 0, 100% 100%, 
			      color-stop(.25, rgba(255, 255, 255, .2)), 
			      color-stop(.25, transparent), color-stop(.5, transparent), 
			      color-stop(.5, rgba(255, 255, 255, .2)), 
			      color-stop(.75, rgba(255, 255, 255, .2)), 
			      color-stop(.75, transparent), to(transparent)
			   );
			background-image: 
				-moz-linear-gradient(
				  -45deg, 
			      rgba(255, 255, 255, .2) 25%, 
			      transparent 25%, 
			      transparent 50%, 
			      rgba(255, 255, 255, .2) 50%, 
			      rgba(255, 255, 255, .2) 75%, 
			      transparent 75%, 
			      transparent
			   );
			z-index: 1;
			-webkit-background-size: 50px 50px;
			-moz-background-size: 50px 50px;
			-webkit-animation: move 2s linear infinite;
			   -webkit-border-top-right-radius: 8px;
			-webkit-border-bottom-right-radius: 8px;
			       -moz-border-radius-topright: 8px;
			    -moz-border-radius-bottomright: 8px;
			           border-top-right-radius: 8px;
			        border-bottom-right-radius: 8px;
			    -webkit-border-top-left-radius: 20px;
			 -webkit-border-bottom-left-radius: 20px;
			        -moz-border-radius-topleft: 20px;
			     -moz-border-radius-bottomleft: 20px;
			            border-top-left-radius: 20px;
			         border-bottom-left-radius: 20px;
			overflow: hidden;
		}
		
		.animate > span:after {
			display: none;
		}
		
				
		.orange > span {
			background-color: #f1a165;
			background-image: -moz-linear-gradient(top, #f1a165, #f36d0a);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f1a165),color-stop(1, #f36d0a));
			background-image: -webkit-linear-gradient(#f1a165, #f36d0a); 
		}
		
		.red > span {
			background-color: #f0a3a3;
			background-image: -moz-linear-gradient(top, #f0a3a3, #f42323);
			background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #f0a3a3),color-stop(1, #f42323));
			background-image: -webkit-linear-gradient(#f0a3a3, #f42323);
		}
		
		.nostripes > span > span, .nostripes > span:after {
			-webkit-animation: none;
			background-image: none;
		}

		



